.my-logo{

  position: fixed;
  top: 5%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -5%);
  font-family: 'Open Sans', sans-serif;
  font-size: 40;
  color: white;


}

.my-quote{
	
  position: fixed;
  top: 15%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -15%);
  font-family: 'Open Sans', sans-serif;
  font-size: 40;
  color: white;
}


.container {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	width : 30%;
	color: #2ec866;
}

body {
	background: #39424e;
}

.btn {
	background : #2ec866;
}
.form-signin-heading{
  margin-left: 50%;
  transform: translate(-50%);
}
